@media screen and (min-width: 700px) {
  .sceneButtons {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    opacity: 1;
    top: 90%;
    left : 50%;
    width: 30%;
    height: 30px;
    z-index: 1;
    width: 40%;
  }
  .circleButtonSelected {
    height: 30px;
    width: 30px;
    background: #757373;
    border-radius: 30px;
  }
  .circleButton {
    height: 28px;
    cursor: pointer;
    width: 28px;
    border: 1px solid #757373;
    border-radius: 200px;
  }
  .sceneButtons-difn-pos{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    opacity: 1;
    top:90%;
    left : 30%;
    width: 40%;
    height: 30px;
    z-index: 1;
  }
}

@media screen and (max-width: 699px) {
    .sceneButtons {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      opacity: 1;
      bottom:48vh;
      width: 70%;
      margin-left: 10%;
      height: 30px;
      z-index: 1;
    }
    .circleButtonSelected {
      height: 20px;
      width: 20px;
      background: #757373;
      border-radius: 30px;
    }
    .circleButton {
      height: 18px;
      cursor: pointer;
      width: 18px;
      border: 1px solid #757373;
      border-radius: 200px;
    }
    .sceneButtons-difn-pos{
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        opacity: 1;
        top:90%;
        left : 10%;
        width: 80%;
        height: 30px;
        z-index: 1;
      }
  }


