@media screen and (min-width: 700px) {
  .sceneButtonsContainer{
    width: 67vw;
    height: 33px;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 0vw; 
    bottom: 50px;
    z-index: 30;
  }
  .sceneButtons {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-between;
    opacity: 1;
    height: 30px;
    width: 300px;
    z-index: 1;
  }
  .circleButtonSelected {
    height: 12px;
    width: 12px;
    background: #757373;
    border-radius: 30px;
  }
  .circleButton {
    height: 10px;
    cursor: pointer;
    width: 10px;
    border: 1px solid #757373;
    border-radius: 200px;
  }
  .sceneButtons-difn-pos{
    width: 100vw;
    height: 33px;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 0vw; 
    bottom: 50px;
    z-index: 30;
  }
  .sceneButtons-enter {
    opacity: 1;
    transform: translateX(-16.5vw);
  }
  .sceneButtons-enter-active {
    opacity: 1;
    transform: translateX(0vw);
    transition: transform 1000ms ease-in-out;
  }
  .sceneButtons-exit {
    opacity: 1;
    transform: translateX(16.5vw);
  }
  .sceneButtons-exit-active {
    opacity: 1;
    transform: translateX(0vw);
    transition: transform 1000ms ease-in-out;
  }

}

@media screen and (max-width: 699px) {
    .sceneButtons {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      opacity: 1;
      width: 90%;
      height: 30px;
      z-index: 1;
    }
    .circleButtonSelected {
      height: 12px;
      width: 12px;
      background: rgb(51, 50, 50);
      border: 1px solid rgb(51, 50, 50);
      border-radius: 30px;
    }
    .circleButton {
      height: 10px;
      cursor: pointer;
      width: 10px;
      border: 1px solid #dcdcdc;
      background: #dcdcdc;
      border-radius: 200px;
    }
    .sceneButtons-difn-pos{
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: absolute;
      opacity: 1;
      bottom:7%;
      width: 70%;
      margin-left: 10%;
      height: 30px;
      z-index: 1;
      }
      .sceneButtons-enter {
        opacity: 1;
        transform: translateY(34.5vh);
      }
      .sceneButtons-enter-active {
        opacity: 1;
        transform: translateY(0vh);
        transition: transform 1150ms ease-in-out;
      }
      .sceneButtons-exit {
        opacity: 1;
        transform: translateY(-34.5vh);
      }
      .sceneButtons-exit-active {
        opacity: 1;
        transform: translateY(0vh);
        transition: transform 900ms ease-in-out;
      }
  }


