.logo-gl {
  width: 40px;
  position: absolute;
  height: 40px;
  left: 0;
  top: 2px;
  border-radius: 40px;
  z-index: -1;
  margin: 10px 5px;
}

@media screen and (min-width: 900px) {
  .logo {
    width: 40px;
    position: absolute;
    height: 40px;
    left: 0;
    top: 2px;
    border-radius: 40px;
    z-index: 100;
    margin: 10px 5px;
  }
  .alert-enter {
    opacity: 1;
    transform: translateX(-33vw);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0vw);
    transition: transform 1000ms ease-in-out;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 1;
    transform: translateX(-33vw);
    transition: transform 1000ms ease-in-out;
  }
  .toggler-enter {
    opacity: 1;
    transform: translateX(-33vw);
  }
  .toggler-enter-active {
    opacity: 1;
    transform: translateX(0vw);
    transition: transform 1000ms ease-in-out;
  }
  .toggler-exit {
    opacity: 1;
    transform: translateX(33vw);
  }
  .toggler-exit-active {
    opacity: 1;
    transform: translateX(0vw);
    transition: transform 1000ms ease-in-out;
  }

  .sidePanel {
    align-items: center;
    text-align: center;
    display: block;
    overflow: hidden;
    position: absolute;
    opacity: 1;
    top: 65px;
    height: 93vh;
    z-index: 1;
    width: 33vw;
    background: #dcdcdc;
  }
  .gradient {
    position: relative;
    width: 100%;
    height: 10px;
  }
  .tagContainer {
    opacity: 1;
    height: 67px;
    z-index: 2;
    width: 33vw;
    display: block;
    overflow: hidden;
    position: relative;
    background: #dcdcdc;
  }
  .tag {
    align-items: center;
    text-align: center;
    margin-left: 60px;
  }
  .tag p {
    font-family: "HpSimplified";
    font-size: 19px;
    font-weight: 300;
    margin-top: 25px;
    margin-left: auto;
  }
  .sidePanelToggler {
    position: absolute;
    bottom: 50px;
    left: 32.55vw;
    align-items: center;
    justify-content: center;
    width: 40px;
    cursor: pointer;
    z-index: 2;
  }
  .togglerLeft {
    left: -0.5vw;
  }
  .arrow {
    position: absolute;
    right: 0px;
    top: 20px;
    color: rgb(128, 126, 126);
  }
  .share-div {
    position: absolute;
    top: 10px;
    right: 5px;
    height: 50px;
    width: 200px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  .share {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 899px) and (min-width: 700px) {
  .logo {
    width: 40px;
    position: absolute;
    height: 40px;
    left: 0;
    top: 2px;
    border-radius: 40px;
    z-index: 100;
    margin: 10px 5px;
  }
  .alert-enter {
    opacity: 1;
    transform: translateX(-33vw);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateX(0vw);
    transition: transform 1000ms ease-in-out;
  }
  .alert-exit {
    opacity: 1;
  }
  .alert-exit-active {
    opacity: 1;
    transform: translateX(-33vw);
    transition: transform 1000ms ease-in-out;
  }
  .toggler-enter {
    opacity: 1;
    transform: translateX(-33vw);
  }
  .toggler-enter-active {
    opacity: 1;
    transform: translateX(0vw);
    transition: transform 1000ms ease-in-out;
  }
  .toggler-exit {
    opacity: 1;
    transform: translateX(33vw);
  }
  .toggler-exit-active {
    opacity: 1;
    transform: translateX(0vw);
    transition: transform 1000ms ease-in-out;
  }

  .sidePanel {
    align-items: center;
    text-align: center;
    display: block;
    overflow: hidden;
    position: absolute;
    opacity: 1;
    top: 65px;
    z-index: 1;
    width: 33vw;
    height: 93vh;
    background: #dcdcdc;
  }
  .gradient {
    position: relative;
    width: 100%;
    height: 10px;
  }
  .tagContainer {
    opacity: 1;
    height: 67px;
    z-index: 2;
    width: 33vw;
    display: block;
    overflow: hidden;
    position: absolute;
    background: #dcdcdc;
  }
  .tag {
    align-items: center;
    text-align: center;
    margin-left: 60px;
  }
  .tag p {
    font-family: "HpSimplified";
    font-size: 17px;
    font-weight: 300;
    margin-top: 25px;
    margin-left: auto;
  }
  .sidePanelToggler {
    position: absolute;
    bottom: 50px;
    left: 32.55vw;
    align-items: center;
    justify-content: center;
    width: 40px;
    cursor: pointer;
    z-index: 2;
  }
  .togglerLeft {
    left: -0.5vw;
  }
  .arrow {
    position: absolute;
    right: 0px;
    top: 20px;
    color: rgb(128, 126, 126);
  }
  .share-div {
    position: absolute;
    top: 10px;
    right: 5px;
    height: 50px;
    width: 200px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  .share {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: 699px) {
  .logo {
    display: none;
  }
  .sidePanel {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    opacity: 1;
    max-height: 50vh;
    z-index: 1;
    width: 100%;
    background: #dcdcdc;
  }

  .tag {
    align-items: center;
    text-align: center;
    display: block;
    overflow: hidden;
    position: relative;
    opacity: 1;
    z-index: 2;
    width: 100%;
    background: #dcdcdc;
  }
  .sidePanelHide {
    height: 0%;
    opacity: 0;
  }
  .tag-p {
    font-family: "HpSimplified";
    font-size: 18px;
    line-height: 5vh;
    font-weight: 700;
  }
  .sidePanelToggler {
    align-items: center;
    justify-content: center;
    border-radius: 30% 30% 10% 0%;
    width: 40px;
    height: 40px;
    padding: auto 0;
    cursor: pointer;
    z-index: 10;
  }
  .togglerLeft {
    height: 35px;
    bottom: 10%;
    opacity: 1;
  }
  .arrow {
    position: absolute;
    top: 3px;
    left: 17px;
    color: rgb(128, 126, 126);
  }
  .share-div {
    position: absolute;
    top: 10px;
    right: 0px;
    height: 50px;
    width: 150px;
    text-align: center;
    align-items: center;
    justify-content: space-between;
  }
  .share {
    height: 40px;
    width: 40px;
    margin-left: 4px;
    margin-right: 4px;
    cursor: pointer;
  }
  .patch{
      height: 15vh;
      width: 100vw;
      background: white;
  }
  .gradient {
    width: 100%;
    z-index: 20;
    height: 10px;
  }
  .patchContainer{
    z-index: -1;
    width: 100%;
  }
  .patchContainerDifn{
    position: absolute;
    left:0;
    z-index: -1;
    bottom: 3vh;
    width: 100%;
  }
  .alert-enter {
    opacity: 1;
    transform: translateY(40vh);
  }
  .alert-enter-active {
    opacity: 1;
    transform: translateY(0vh);
    transition: transform 1000ms ease-in-out;
  }
  .alert-exit {
    opacity: 1;
    transform: translateY(-40vh);
  }
  .alert-exit-active {
    opacity: 1;
    transform: translateY(0vh);
    transition: transform 1000ms ease-in-out;
  }
  .patch-enter {
    opacity: 1;
    transform: translateY(36vh);
  }
  .patch-enter-active {
    opacity: 1;
    transform: translateY(0vh);
    transition: transform 1000ms ease-in-out;
  }
  .patch-exit {
    opacity: 1;
    transform: translateY(-36vh);
  }
  .patch-exit-active {
    opacity: 1;
    transform: translateY(0vh);
    transition: transform 1000ms ease-in-out;
  }
  .info-div{
      position: absolute;
      bottom: 0vh;
      left: 0vw;
      width: 100%;
      height: 55vh;
      background: #dcdcdc;
  }
  .info-div-low{
    position: absolute;
    bottom: -40vh;
    left: 0vw;
    width: 100%;
    height: 55vh;
    background: #dcdcdc;
  }
  .internal{
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     background: white;
  }
}