@media screen and (min-width: 900px) {

.sidePanel{
    align-items: center;
    text-align: center;
    display: block;
    overflow: hidden;
    position: absolute;
    opacity: 1;
    top : 40px;
    height: 95vh;
    z-index: 1;
    width: 40%;
    background: #dbd9d9;
    transition: opacity 10s ease-out; 
    transition: width 0.5s; 
}

.tag{
    align-items: center;
    text-align: center;
    display: block;
    overflow: hidden;
    position: absolute;
    opacity: 1;
    height: 55px;
    z-index: 2;
    width: 40%;
    background: #dbd9d9;
    box-shadow: 5px 5px 5px 0px #000000;
    transition: opacity 10s ease-out; 
    transition: width 0.5s; 
}
.sidePanelHide{
    width: 0%;
    opacity: 0.5;
}
.tag img{
    width: 45px;
    position: absolute;
    height: 45px;
    border-radius: 40px;
    top: 5px;
    left: 15px;
}
.tag p{
    font-family: 'HpSimplified';
    font-size: 19px;
    font-weight: 400;
}
.lowerSidePanel{
    position: relative;
    height: 100%;
    width: 100%;
    background: #dbd9d9;
}
.sidePanelToggler{
    position: absolute;
    bottom: 50px;
    left: 0%;
    align-items: center;
    justify-content: center;
    border-radius: 0% 10% 10% 0%;
    width: 42%;
    height: 60px;
    cursor: pointer;
    background: #dbd9d9;
    transition: opacity 10s ease-out; 
    transition: width 0.5s; 
    z-index: 2;
}
.togglerLeft{
    width: 2%;
    opacity: 1;
}
.arrow{
    position: absolute;
    right: 0px;
    top: 20px;
    color: rgb(128, 126, 126);
}
}


@media screen and (max-width: 899px) and (min-width: 700px) {

    .sidePanel{
        align-items: center;
        text-align: center;
        display: block;
        overflow: hidden;
        position: absolute;
        opacity: 1;
        top : 40px;
        height: 95vh;
        z-index: 1;
        width: 40%;
        background: #dbd9d9;
        transition: opacity 10s ease-out; 
        transition: width 0.5s; 
    }
    
    .tag{
        align-items: center;
        text-align: center;
        display: block;
        overflow: hidden;
        position: absolute;
        opacity: 1;
        height: 55px;
        z-index: 2;
        width: 40%;
        background: #dbd9d9;
        box-shadow: 5px 5px 5px 0px #000000;
        transition: opacity 10s ease-out; 
        transition: width 0.5s; 
    }
    .sidePanelHide{
        width: 0%;
        opacity: 0.5;
    }
    .tag img{
        width: 40px;
        position: absolute;
        height: 40px;
        border-radius: 40px;
        top: 5px;
        left: 6px;
    }
    .tag p{
        font-family: 'HpSimplified';
        font-size: 13px;
        padding-top: 5px;
        font-weight: 300;
    }
    .lowerSidePanel{
        position: relative;
        height: 100%;
        width: 100%;
        background: #dbd9d9;
    }
    .sidePanelToggler{
        position: absolute;
        bottom: 50px;
        left: 0%;
        align-items: center;
        justify-content: center;
        border-radius: 0% 10% 10% 0%;
        width: 42%;
        height: 60px;
        cursor: pointer;
        background: #dbd9d9;
        transition: opacity 10s ease-out; 
        transition: width 0.5s; 
        z-index: 2;
    }
    .togglerLeft{
        width: 2%;
        opacity: 1;
    }
    .arrow{
        position: absolute;
        right: 0px;
        top: 20px;
        color: rgb(128, 126, 126);
    }
    }
    
    @media screen and (max-width: 699px){

        .sidePanel{
            align-items: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            position: absolute;
            opacity: 1;
            bottom: 0vh;
            height: 40vh;
            z-index: 1;
            width: 100%;
            background: #dbd9d9;
            transition: opacity 10s ease-out; 
            transition: width 0.5s; 
            overflow-x: scroll;
        }
        
        .tag{
            align-items: center;
            text-align: center;
            display: block;
            overflow: hidden;
            position: absolute;
            opacity: 1;
            bottom: 40vh;
            height: 50px;
            z-index: 2;
            width: 100%;
            background: #dbd9d9;
            box-shadow: 5px 5px 5px 0px #000000;
            transition: opacity 10s ease-out; 
            transition: height 0.5s; 
        }
        .sidePanelHide{
            height: 0%;
            opacity: 0;
        }
        .tag img{
            width: 40px;
            position: absolute;
            height: 40px;
            border-radius: 40px;
            top: 5px;
            left: 5px;
        }
        .tag p{
            font-family: 'HpSimplified';
            font-size: 19px;
            font-weight: 500;
        }
        .sidePanelToggler{
            position: absolute;
            bottom: 44%;
            align-items: center;
            justify-content: center;
            border-radius: 30% 30% 10% 0%;
            width: 50px;
            right: 0.5%;
            height: 70px;
            cursor: pointer;
            background: #dbd9d9;
            transition: opacity 10s ease-out; 
            transition: height 0.2s; 
            z-index: 10;
        }
        .togglerLeft{
            height: 35px;
            bottom: 0%;
            opacity: 1;
        }
        .arrow{
            position: absolute;
            top: 3px;
            left: 17px;
            color: rgb(128, 126, 126);
        }
    }
        