
@media screen and (min-width: 900px){
    .exploreContainer{
        align-items: center;
        margin-top: 5%;
    }
    .exploreTag{
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        border: 1px solid rgb(128, 126, 126);
        cursor: pointer;
        box-sizing: border-box;
    }
    
    .exploreTag p{
        font-size: 14px;
        margin-left: 40%;
    }
    .plusIcon{
        color: rgb(128, 126, 126);
        margin-left: 2%;
    }
    .minusIcon{
        color: rgb(128, 126, 126);
        margin-left: 2%;
    }
    .exploreList{
        justify-content: space-evenly;
        display: flex;
        cursor: pointer;
        flex-direction: row;
        margin-top: 10%;
    }
    .listsTagExplore{
        margin: 1%;
    }    
}


@media screen and (max-width: 899px) and (min-width: 500px ) {
    .exploreContainer{
        align-items: center;
        margin-top: 10%;
    }
    .exploreTag{
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        border: 1px solid rgb(128, 126, 126);
        cursor: pointer;
        box-sizing: border-box;
    }
    
    .exploreTag p{
        font-size: 12px;
        margin-left: 30%;
    }
    .plusIcon{
        color: rgb(128, 126, 126);
        margin-left: 2%;
    }
    .minusIcon{
        color: rgb(128, 126, 126);
        margin-left: 2%;
    }
    .exploreList{
        justify-content: space-evenly;
        display: flex;
        cursor: pointer;
        flex-direction: row;
        margin-top: 10%;
    }
    .listsTagExplore{
        margin: 0%;
        font-size: 12px;
    }    
}

@media screen and (max-width: 499px)  {
    .exploreContainer{
        align-items: center;
        margin-top: 10%;
    }
    .exploreTag{
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        border: 1px solid rgb(128, 126, 126);
        cursor: pointer;
        box-sizing: border-box;
    }
    
    .exploreTag p{
        font-size: 10px;
        margin-left: 10%;
    }
    .plusIcon{
        color: rgb(128, 126, 126);
        margin-left: 2%;
    }
    .minusIcon{
        color: rgb(128, 126, 126);
        margin-left: 2%;
    }
    .exploreList{
        justify-content: space-evenly;
        display: flex;
        margin-top: 10%;
        cursor: pointer;
        flex-direction: row;
    }
    .listsTagExplore{
        margin: 0%;
        font-size: 12px;
    }    
}