
@media screen and (min-width: 700px) {
    .exploreContainer{
        align-items: center;
        margin-top:20px;
    }
    .exploreTag{
        width: 95%;
        align-items: center;
        position: relative;
        text-align: center;
        border: 1px solid rgb(165, 162, 162);
        cursor: pointer;
        margin: 0 auto;
        box-sizing: border-box;
    }
    
    .exploreTag p{
        font-size: 15px;
        margin: 0;
        padding: 9px;    
        font-weight: 400;
        color: #4B4D4A;
    }
    .plusIcon{
        color: rgb(141, 137, 137);
        position: absolute;
        transform: scale(.8);
    }
    .minusIcon{
        color: rgb(182, 181, 181);
        margin-left: 2%;
    }
    .exploreList{
        justify-content: space-evenly;
        display: flex;
        cursor: pointer;
        flex-direction: row;
        margin-top: 10%;
    }
    .listsTagExplore{
        margin: 1%;
    }    
}

@media screen and (max-width: 699px) {
    .exploreContainer{
        align-items: center;
        z-index: 10;
        margin-top: 2%;
        flex-direction: column;
        overflow-y: scroll;
    }
    .example::-webkit-scrollbar {
        display: none;
      }
    .exploreTag{
        width: 90vw;
        align-items: center;
        position: relative;
        text-align: center;
        border: 1px solid rgb(128, 126, 126);
        cursor: pointer;
        margin: 0 auto;
        box-sizing: border-box;
    }
    
    .exploreTag p{
        font-size: 14px;
    }
    .plusIcon{
        color: rgb(128, 126, 126);
        position: absolute;
        left: 5px;
        top: 5px;
    }
    .minusIcon{
        color: rgb(128, 126, 126);
        margin-left: 2%;
    }
    .exploreList{
        justify-content: space-evenly;
        max-width: 400px;
        display: flex;
        max-height: 100px;
        cursor: pointer;
        margin-left: 10%;
        flex-direction: column;
    }
    .listsTagExplore{
        margin-top: 10px;
        align-items: center;
        height: 20px;
        position: relative;
    }    
}