@media screen and (min-width: 700px) {
    .featuresContainer{
        align-items: center;
        margin-top: 4%;
        justify-content: center;
    }
    .featuresTag{
        width: 95%;
        text-align: center;
        align-items: center;
        position: relative;
        margin: 0 auto;
        border: 1px solid rgb(128, 126, 126);
        cursor: pointer;
        box-sizing: border-box;
    }
    .featuresTag p{
        font-size: 14px;
        font-size: 14px;
    }
    .featuresList{
        justify-content: space-evenly;
        align-items: center;
        margin-top: 10%;
        cursor: pointer;
        width: 100%;
    }
    .listsTag{
        margin-top: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 10%;
    }
    .listsTag p{
        margin-left: 10%;
    }
    .minus{
        margin-left: 15%;
        color: rgb(128, 126, 126);
    }
    .iconDiv{
        position: absolute;
        top:0px;
        left: 2px;
    }
}

@media screen and (max-width: 699px) {
    .featuresContainer{
        align-items: center;
        display: flex;
        flex-direction: column;
        z-index: 10;
        margin-top: 4%;
        overflow-y: scroll;
    }
    .featuresTag{
        width: 90vw;
        text-align: center;
        align-items: center;
        position: relative;
        margin: 0 auto;
        border: 1px solid rgb(128, 126, 126);
        cursor: pointer;
        box-sizing: border-box;
    }
    .featuresTag p{
        font-size: 14px;
        font-size: 14px;
    }
    .featuresList{
        justify-content: space-evenly;
        max-width: 400px;
        max-height: 50px;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        margin-top: 2%;
    }
    .listsTag{
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 35px;
    }
    .listsTag p{
        margin-left: 10px;
    }
    .minus{
        margin-left: 5px;
        color: rgb(128, 126, 126);
    }
    .iconDiv{
        position: absolute;
        top:0px;
        left: 10px;
    }
}